@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Poppins&display=swap');

$transparent-white: #fefefeaa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  overflow-x: hidden;
  background-color: #17609b;
}

button {
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  height: 10%;

  h1 {
    font-size: 1.3rem;
    background-color: $transparent-white;
    border-radius: 999px;
    padding: 5px 10px;

    sub {
      font-size: 0.8rem;
    }
  }

  form {
    color: #222;

    input,
    button {
      background-color: $transparent-white;
      border: 0;
    }

    input {
      padding: 5px 10px;
      font-size: 1.2rem;
      border-radius: 999px;
      margin-right: 10px;

      &::placeholder {
        color: #222;
      }
    }

    button {
      height: calc(1.2rem + 10px);
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80%;
}

#app {
  width: 50%;
  height: 400px;
  background: $transparent-white;
  padding: 16px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .card {
    align-self: center;
    justify-self: center;
    border-right: 1px solid #222;

    p {
      text-align: center;
    }

    p:first-of-type {
      font-size: 2rem;
      font-family: 'DynaPuff', cursive;
    }

    p:last-of-type {
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
